APP_PORT=3000
ENV_GO=local

# NestJS -> InfluxDB client config
INFLUX_URL=http://147.139.161.159:8086/
INFLUX_TOKEN='iLBD2vEc9_XrwAhA8CeUI0B7s4tgwfwEQ7OW4ZmJfu-W6vOI_vvHe7fePc8sNgmlVxphh-u8rf9Ap75a6Tv7lQ=='
INFLUX_ORG=kodam-org
INFLUX_BUCKET=kodam_dev